<!DOCTYPE html>
<html>

  <head>
    <%- include('partials/head'); %>  
    <title>Acerca de</title>
    <style>
      body{
        font-size: 14px;
        text-align: justify;
        background-color: rgb(22, 22, 73);
      }
      h1{
        color:rgb(48, 172, 135);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      body p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: cornsilk;
        text-align: justify;
        padding: 2px;
      }
      ul li{
        padding: 3px;
        color: moccasin;
      }
      footer p{
       font-style: italic;
       font-size: medium;
       color: honeydew;
       text-align: center;
      }
    </style>
  </head> 

  <body>
    <%- include('partials/navbar'); %>

    <div class="jumbotron">
      <h1 class="display-4">Acerca de: Lendy Joanna S.R</h1>
      <img src="/images/perfil.jpg" width="200" height="300"/> 
    </div>
      <p class="lead">¡¡Es un gusto saludarte!! Soy Lendy, soy estudiante de la UTNG del grupo GDS0241 y estoy desarrollando una práctica para mi aprendizaje en el desarrollo de API's</p>
      <hr class="my-4">
      <p>Aparte de mi gusto por la programación, me encantan hacer las siguientes cosas: </p>
      <br>
      <ul class="list-group">
        <li>Prácticar natación, especialmente de crol</li>
        <li>Ir a crossfit y trabajar a veces con peso muerto</li>
        <li>Jugar videojuegos en mi tiempo libre</li>
        <li>Ver series, películas y anime</li>
        <li>Leer libros de misterio, terror, suspenso, drama y ficción</li>
      </ul>
      <br>
      <a class="btn btn-primary btn-lg" href="#" role="button">Saber más...</a>
      <br><br>
  </body>
  <footer>
    <%- include('partials/footer'); %>
  </footer>
</html>
