<!DOCTYPE html>
<html>

  <head>
  <%- include('partials/head'); %>  
   
</head>

  <body>
    <%- include('partials/navbar'); %>

    <div class="jumbotron">
      <h1 class="display-4">Bienvenido a NodeJS & Express</h1>
      <img src="/images/node.jpg" width="400" height="200"/>
      <p class="lead">Este es un ejemplo básico</p>
      <hr class="my-4">
      <p>Mi primer sitio básico con Express. </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <%- include('partials/footer'); %>
  </body>

</html>
