<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registro</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
   
    </head>
    <body class="login">
        <div class="login-box">
            <img class="avatar" src="/images/use.jpg" alt="Logo">
           
            <form action="/users/login" method="POST">
                <!--USERNAME-->
                <label for="username">Username</label>
                <input type="text" placeholder="username"  id="username" name="username">

                <!--PASSWORD-->
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password"  id="password" name="password">
                <!--Tipo de cuenta-->
                
                <!--SUBMIT-->
                <input type="submit" value="Log In">

                
                <a href="/signup">¿No tienes una cuenta?</a>
               

                
            </form>
        </div>
        <div class="contenedor">
            <a href="/">Entrar Sin Usuario</a>
        </div>
      
    </body>
</html>